.img-back-top {
  width: 100%;
  height: 580px;
}
.img-logo {
  width: 5%;
}
.img-search {
  width: 40%;
}
.text-logo {
  font-size: 20px;
  font-weight: 600;
}
.search-bar {
  width: 300px;
  height: 45px;
  background-color: white;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 20%);
  border-radius: 50px;
}
.search-input {
  border: none;
}
::placeholder {
  opacity: 1;
  font-weight: bold;
}
